{% extends 'marcbase.html' %}

{% block content %}
<div class="container">
    <h1>Bienvenido a MPI-SECURITY</h1>
    <p> Somos una plataforma especializada en análisis y monitoreo de seguridad en redes y sistemas.
        Utilizamos
        herramientas avanzadas como nftables, Suricata y Kibana para garantizar la protección de tus
        sistemas y
        datos empresariales. </p>
    <p> Con nuestras herramientas de monitoreo, podrás detectar y prevenir ataques cibernéticos, identificar
        vulnerabilidades de seguridad y mejorar la resiliencia de tu infraestructura de TI. </p>
    <p> Explora nuestra plataforma y descubre cómo podemos ayudarte a asegurar tu negocio en línea. </p>
</div>
{% endblock %}