{% extends 'marcbase.html' %}
{% block title %}Crear Reglas Pre nftables{% endblock %}
{% block content %}
<form method="post" action="/prerules">
<div class="containerclasrule">
  <h1>Reglas</h1>
  <label for="alias">Alias:</label>
  <input type="text" id="alias" name="alias"><br><br>
  <label for="table_name">Nombre de la tabla:</label>
  <input type="text" id="table_name" name="table_name"><br><br>
  <label for="chain_name">Nombre de la cadena:</label>
  <input type="text" id="chain_name" name="chain_name"><br><br>
</div>

<div class="containerclasruleaccept">
  <h1>Accept</h1>
  <table>
    <tr>
      <td>
        <h2>ENTRADA</h2>
        <input type="submit" name="task_name" value="Permitir Entrada">
        <input type="submit" name="task_name" value="Permitir Entrada SSH">
        <input type="submit" name="task_name" value="Permitir Entrada HTTP">
        <input type="submit" name="task_name" value="Permitir Entrada ICMP">
      </td>
      <td>
        <h2>SALIDA</h2>
        <input type="submit" name="task_name" value="Permitir Salida">
        <input type="submit" name="task_name" value="Permitir Salida SSH">
        <input type="submit" name="task_name" value="Permitir Salida HTTP">
        <input type="submit" name="task_name" value="Permitir Salida ICMP">
      </td>
    </tr>
  </table>
</div>

<div class="containerclasruledrop">
  <h1>Drop</h1>
  <table>
    <tr>
      <td>
        <h2>ENTRADA</h2>
        <input type="submit" name="task_name" value="Bloquear Entrada">
        <input type="submit" name="task_name" value="Bloquear Entrada SSH">
        <input type="submit" name="task_name" value="Bloquear Entrada HTTP">
        <input type="submit" name="task_name" value="Bloquear Entrada ICMP">
      </td>
      <td>
        <h2>SALIDA</h2>
        <input type="submit" name="task_name" value="Bloquear Salida ">
        <input type="submit" name="task_name" value="Bloquear Salida SSH">
        <input type="submit" name="task_name" value="Bloquear Salida HTTP">
        <input type="submit" name="task_name" value="Bloquear Salida ICMP">
      </td>
    </tr>
  </table>
</div>
</form>

{% endblock %}